//base font
$base-font-size: 14px;
$base-font-family: 'Open Sans', sans-serif;
$color-text: #555555;

$white:#ffffff;

$blue:#5363db;
$twoo-blue:#5b6ceb;
$dark-grey:#777777;
$grey-first:#999999;
$input-bg:#f2f2f2;

$line-color:#d7d7d7;